.header-inner .navbar .dropdown {
    display: flex;
}
.header-inner .navbar .dropdown .sub-menu {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
}
.header-inner .navbar .dropdown .sub-menu:not(:first-child) {
    border-left: 1px solid #a95b2b;
}
.header-inner .navbar .dropdown .sub-menu .sub-menu-head {
    border-bottom: 1px solid #0e1d42;
}
.header-inner .navbar .dropdown .sub-menu .sub-menu-head a {
    color: #666 !important;
}
.header-inner .navbar .dropdown .sub-menu .sub-menu-head a:hover {
    color: #fff !important;
}
.nav {
    flex-wrap: unset !important;
}

.single-product .product-img .stock {
    height: 26px;
    width: 100%;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: flex-end;
}
.show-more {
    border: 1px solid #0e1d42;
    font-size: 1.2em;
}

.single-banner:hover {
    opacity: 0.8;
    top: 2px;
}

.filter {
    padding: 20px 0;
}
.filter .filter-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.filter .filter-item {
    margin-right: 2rem;
}
.filter .filter-item p {
    color: #cb3f2d;
    font-size: 1rem;
    font-weight: bold;
}
.filter .filter-item option {
    padding: 5px 0;
}
.filter .filter-item .btn-submit {
    font-size: 1rem;
    padding: .375rem 2rem;
    border-radius: 3px;
    background: #0e1d42;
    color: #fff;
}
.filter .filter-item .btn-submit:hover {
    color: #fff;
    background: #F7941D;
}

.title-list {
    position: relative;
}
.title-list h2 {
    display: inline-block;
    color: #cb3f2d;
    margin-right: 1rem;
}
.title-list::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #0e1d42;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.wrap-sort {
    display: inline-block;
    float: right;
}
.form-select:focus {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.bread-list li:last-child {
    color: #898989;
}

/*=============== Product detail ===============*/
.product-detail {
    padding: 50px 0 100px;
    position: relative;
}
.product-detail .left-col .title {
    text-align: center;
}
.product-detail .left-col .title h1 {
    font-size: 1.5rem;
    color: #cb3f2d;
}
.product-detail .left-col .title a {
    font-style: italic;
    font-size: 1rem;
    margin-right: 5px;
    text-decoration: underline;
}
.product-detail .left-col .description div {
    background: #cb3f2d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
}
.product-detail .left-col .description div:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px #cb3f2d;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.product-detail .left-col .description p {
    text-align: justify;
}

.product-detail .mid-col .thumbnail-img {
    /*display: flex;*/
}
.thumbnail-img .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -25px 0 0;
}
.thumbnail-img.owl-carousel .owl-nav div {
    height: 60px;
    width: 30px;
    line-height: 58px;
    background: unset;
    color: #0e1d42;
    font-weight: bold;
    position: absolute;
    margin: 0;
    border-radius: 0;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.thumbnail-img.owl-carousel .owl-nav div:hover {
    background: unset;
    color: unset;
}
.thumbnail-img.owl-carousel .owl-nav i {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cb3f2d;
}
.thumbnail-img.owl-carousel .owl-controls .owl-nav .owl-prev {
    left: -35px;
}
.thumbnail-img.owl-carousel .owl-controls .owl-nav .owl-next {
    right: -25px;
}
.thumbnail-img .thumbnail-item {
    padding: 10px;
    border: 2px solid transparent;
}
.thumbnail-img .thumbnail-item.active {
    border-color: #cb3f2d;
}
.thumbnail-img .thumbnail-item:hover {
    cursor: pointer;
}
.thumbnail-img.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-detail .mid-col .main-img {
    min-height: 600px;
    display: flex;
    align-items: center;
}

.product-detail .right-info {
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    left: 0;
}
.product-detail .right-info .price-content {
    padding: 15px;
    background: #efece3;
    margin-bottom: 1px;
    text-align: center;
}
.product-detail .right-info .add-cart {
    padding: 15px;
    background: #efece3;
    margin-bottom: 1px;
    text-align: center;
}
.product-detail .right-info .add-cart button {
    background: #cb3f2d;
    padding: 14px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    outline: none;
}
.product-detail .right-info .add-cart button:hover {
    background: #0e1d42;
}
.product-detail .right-info .continue-buy {
    padding: 15px;
    background: #efece3;
    margin-bottom: 1px;
    text-align: center;
}
.product-detail .right-info .continue-buy a {
    background: #0e1d42;
    padding: 14px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
}
.product-detail .right-info .wishlist {
    padding: 15px;
    background: #f6f5f1;
    margin-bottom: 1px;
    font-size: .9em;
    color: #999;
    text-align: center;
}
.product-detail .right-info .wishlist a {
    display: block;
    color: #8b8b8b;
    font-size: 1rem;
}
.product-detail .right-info .wishlist a:hover {
    color: #cb3f2d;
}
.product-detail .right-info .price-web {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}
.product-detail .right-info .price-number {
    color: #960000;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 0;
    line-height: 1.2;
}
.product-detail .right-info .price-vat {
    color: #999;
    font-size: .7rem;
    text-transform: uppercase;
}
.product-detail .right-info .status-box {
    margin-top: 18px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    font-size: .9rem;
}
.product-detail .right-info .status-box p {
    color: #56d64e;
}

.product-detail .wrap-info {
    margin-top: 100px;
}
.product-detail .wrap-info .wrap-title {
    text-align: center;
    margin-bottom: 50px;
}
.product-detail .wrap-info .title {
    display: inline-block;
    position: relative;
    color: #cb3f2d;
}
.product-detail .wrap-info .title:after {
    content: "";
    height: 3px;
    width: 100%;
    background: #ff6600;
    position: absolute;
    bottom: -5px;
    left: 0;
}
