html, body {
    font-family: 'Arial, Helvetica, sans-serif', serif !important;
}

.main-logo {
    height: 28px;
}
.validated {
    display: block !important;
}
.theme-form input[type=text], .theme-form input[type=email], .theme-form input[type=search], .theme-form input[type=password], .theme-form input[type=number], .theme-form input[type=tel], .theme-form input[type=date], .theme-form input[type=datetime-local], .theme-form input[type=time], .theme-form input[type=datetime-local], .theme-form input[type=month], .theme-form input[type=week], .theme-form input[type=url], .theme-form input[type=file], .theme-form textarea, .theme-form select {
    color: unset;
}

form .required {
    color: red;
}
.hidden {
    display: none;
}
.page-wrapper.compact-wrapper .page-header .header-wrapper .nav-right {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%;
}
.profile-media .avatar {
    width: 37px;
    height: 37px;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
}
.bold {
    font-weight: bold;
}
.btn-add {
    font-size: 15px;
    font-weight: bold;
}
#preview-avt {
    height: 100px;
}
.login-card .login-main {
     width: unset;
}
